/* Universal Selector */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Body style */
body {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  background-color: #e1e0e0;
}
/* Main section style */
.main-div {
  /* background-color: #e1e0e0; */
  width: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 600px;
  /* box-shadow: 5px 5px 10px gray; */
  border-radius: 10px;
}
/* Heading section */
.heading-section {
  /* background-color: blue; */
  width: 80%;
  height: 20%;
  text-align: center;
}

h1 {
  font-size: 120px;
  opacity: 20%;
  font-weight: 600;
  color: rgb(253, 83, 83);
}

/* input Section */
.input-box {
  min-height: 80%;
  width: 100%;
}
.input-fild {
  width: 80%;
  height: 100%;

  margin-left: 10%;
  padding-top: 20px;
}
.main-input {
  width: 100%;
  height: 80px;
  border: none;
  font-size: 30px;
  border-radius: 10px;
  padding-left: 10%;
}
::placeholder {
  opacity: 30%;
  font-style: italic;
}
input:focus {
  outline: none;
}
.itemAndinputHolder {
  box-shadow: 10px 10px 10px gray;
  background-color: white;
  border-radius: 5px;
}
.child-holder {
  width: 100%;
  min-height: 60px;
  display: flex;
  align-items: center;
  position: relative;
  border-bottom: 1px solid black;
}
.child-holder p {
  font-size: 30px;
}
.lign-throught {
  text-decoration: line-through;
}
.bottom-line {
  font-size: 20px;
  position: relative;
  background-color: #ffffff;
  min-height: 50px;
  margin-bottom: 80px;
}
.count-Active,
.all,
.active,
.filCompleted,
.clearAll {
  display: inline-block;
  margin-right: 3%;
  padding-top: 15px;
  cursor: pointer;
}
.count-Active:hover,
.all:hover,
.active:hover,
.filCompleted:hover,
.clearAll:hover {
  border-bottom: 5px solid green;
}
.count-Active {
  padding-left: 5%;
  padding-right: 5%;
}
.clearAll {
  margin-left: 3%;
}
.filter {
  display: flex;
}
.filter p {
  margin-left: 20px;
}
.toggle-btn {
  appearance: none;
  position: absolute;
  left: 10px;
  top: 10px;
  background: white;
  border: 1px solid rgba(85, 85, 85, 0.405);
  border-radius: 50%;
  margin-right: 20px;
  border-radius: 50%;
  cursor: pointer;
}
input[type="checkbox"]:checked {
  background-image: url(data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E);
  background-size: 40px 40px;
  background-position-x: -9px;
  background-position-y: -6px;
  background-repeat: no-repeat;
  border: 1px solid #5dc2af;
}

.delet {
  position: absolute;
  right: 20px;
  top: 10px;
  width: 90px;
  height: 40px;
  font-size: 15px;
}
.delet {
  font-size: 30px;
  background-color: white;
  border: none;
  color: rgb(165, 131, 131);
}
.delet:hover {
  color: red;
}

.hidden {
  display: none;
}
